{{#with data}}

<div class="card">
	<div class="card_image" style="background-image: url({{photo}})">
		{{#if isNew}} <div class="image_badge">NEW</div> {{/if}}
	</div>

	<h4 class="card_name" id="{{id}}">{{name}}</h4>
	<p class="card_info">{{description}}</p>
	<a class="button card_button" href="#">Read All</a>
</div>


{{/with}}